*.jar filter=lfs diff=lfs merge=lfs -text
external/Viwoods-Debugger/viwoods_debug_tools-linux/viwoods_debug_tools filter=lfs diff=lfs merge=lfs -text
external/Viwoods-Debugger/viwoods_debug_tools-linux/PlatformTools/linuxs/adb filter=lfs diff=lfs merge=lfs -text
